.author {
    color: var(--color-yellow-400);
    font-weight: bold;
    text-shadow: 0 0 3px var(--color-neutral-950);

    &:hover {
        color: var(--color-yellow-600);

        text-decoration: underline;
    }
    &:focus {
        color: yellow;
        text-decoration: underline;

    }
}