@use "/src/styles/tools.scss" as *;

.article-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@include mobile {
    .article-content{
        width: 100%;
        order: 2;
    }
}

@include desktop {

}