@use "/src/styles/tools.scss" as *;

// Blogs principales

@include mobile {
    .article-blog {
        flex-direction: column;
    }
}
@include desktop {
    .article-blog:nth-child(1){
        flex-direction: row;
    }
    .article-blog:nth-child(4){
        flex-direction: row;
    }

    .article-blog {
        &:hover img {
            filter: grayscale(0) blur(0);
        }
        img {
            filter: grayscale(0.3) blur(4px);

            transition: all 0.3s ease-in-out; 
        }
    }
}
