@use "../setting.scss" as *;

.article-blog.percent66 {
    display: flex;
    gap: 24px;
}
.left, .information {
    display: flex;
    flex-direction: column;
}

.image66 {
    max-width: 70%;
    width: auto;
    height: auto;
    border-radius: 10px;
}
.image33 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article-title .header{
    font-size: 26px;
    font-weight: bold;
}


.tag {
    padding: 2px 4px;
    font-weight: 200;
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-300);
}