@use "/src/styles/setting.scss" as *;
@use "/src/styles/tools.scss" as *;

.footer {
    background-color: var(--color-neutral-900);
    border-top: 2px solid var(--color-neutral-700);
}

.link .link-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.social-media .social-medio-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@include mobile {
    .link .link-list,
    .social-media .social-medio-list{
        flex-direction: row;
        gap: 20px;
    }
}