@use "/src/styles/tools.scss" as *;

.nav {
    background-color: var(--color-neutral-900);
    border-bottom: 2px solid var(--color-neutral-700);
}

.nav a {
    color: var(--color-yellow-400);
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        color: var(--color-yellow-600);
        text-shadow: 0 0 4px rgb(0, 0, 0);
    }
}

.icon-header {
    background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(to right,
    var(--color-uno),
    var(--color-dos),
    var(--color-tres),
    var(--color-cuatro)) border-box;
    box-shadow: 0px 0px 5px var(--color-cinco);
}