@use "src/styles/setting.scss" as *;
@use "src/styles/tools.scss" as *;

.popular-author {
    background-color: var(--color-neutral-900);
}
// .popular-author-header {

// }

.card-popular-author {
    background: linear-gradient(180deg, rgba(202,138,4, 1) 05%, rgba(232,50,50, 0.865983893557423) 100%);
}

.author-information {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.image-popular-author {
    border-radius: 50%;
    box-shadow: 1px 1px 5px var(--color-neutral-700),
                0 0 10px var(--color-neutral-950);
}

