@use "/src/styles/setting.scss" as *;
@use "/src/styles/tools.scss" as *;

.principal-blogs {
    background-color: var(--color-neutral-900);
}



// Principal blogs
// .article-blog {

// }

// Dentro de las cards


.article-content {
    height: 100%;
}
.paragraph {
    @include paragraph-text;
    padding: 8px 0;
}
.paragraphs {
    height: 95px; // ¿QUÉ PASA ACÁ? AYUDAAAA
    // height: auto;
    overflow: hidden;
}


.footer-content {
    width: 100%;
    height: auto;
    padding: 2px 0;
}