@use "src/styles/tools.scss" as *;


.promotion-container {
    background-color: var(--color-neutral-800);

    background-image: linear-gradient(to bottom, #171717, #1a1a1a, #1c1c1c, #1f1f1f, #222222, #222222, #222222, #222222, #1f1f1f, #1c1c1c, #1a1a1a, #171717);
}

.form {
    input[type="email"] {
        padding: 18px;
        border-radius: 10px;
        border: 2px solid transparent;
        outline: 2px solid transparent;
        width: 100%;

        color: var(--color-yellow-600);
        font-weight: bolder;

        background-color: rgba(253, 253, 253, 0.1);

        &:focus {
            outline: none;

            border-top: 2px solid var(--color-yellow-700);
            border-right: 2px solid rgb(53, 77, 102);
            border-bottom: 2px solid rgb(53, 77, 102);
            border-left: 2px solid var(--color-yellow-700);

            box-shadow: 2px 2px 5px black;
        }
    }

    button {
        padding: 18px;
        border-radius: 10px;
        border-top: 2px solid var(--color-yellow-700);
        border-right: 2px solid var(--color-yellow-700);
        border-bottom: 2px solid rgb(53, 77, 102);
        border-left: 2px solid rgb(53, 77, 102);

        box-shadow: 0 0 5px var(--color-neutral-950);

        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        color: #d1d1d1;
    }
}
@include tablet {
    .form {
        display: flex;
        flex-direction: row;

        input[type="email"] {
            width: 50%;
        }
    }
}