@use "/src/styles/setting.scss" as *;
@use "/src/styles/tools.scss" as *;


.secondary-blogs {
    background: rgb(202,138,4);
    background: linear-gradient(90deg, rgba(202,138,4,1) 25%, rgba(232,50,50,0.865983893557423) 56%);


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    padding: 50px;
}

@include tablet {
    .secondary-blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}
@include desktop {
    .secondary-blogs {
        grid-template-columns: repeat(3, 1fr);
    }



    // .item {
        
    // }
}

.item {
    display: flex;
    gap: 12px;
    padding: 24px;

    background-color: var(--color-neutral-900);
    box-shadow: 5px 5px 10px black;

    width: 100%;
    min-height: 220px;
    max-height: 340px;

    transition: transform 0.5s;
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        background-color: var(--color-neutral-800);
    }
}

.image {
    width: 50%;
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.information {
    width: 100%;
    height: auto;
    overflow: hidden;
}

