@use "/src/styles/setting.scss" as *;

.secondary-header {
    background-image: url("../images/secondary-header.img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

// No sé a donde mover esto
.primary-title {
    font-size: 5.5rem;
    font-weight: 900;
}
.secondary-title {
    font-size: 2.25rem;
    font-weight: 400;
}
