// Mixins

// Para aplicar, se usa: "@include <mobile/tablet/desktop> { }"
@mixin mobile {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}


// Mixins
@mixin text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
@mixin text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
@mixin text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
@mixin text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
@mixin text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}


@mixin title-cards {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
@mixin paragraph-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}