// Mixins

// Para aplicar, se usa: "@include <mobile/tablet/desktop> { }"
@mixin mobile {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}


// Mixins

@mixin title-cards {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
@mixin paragraph-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}
